<div class='container' id='lessons'>
    <h2>Lesson Lineup</h2>
    <p>Here are the lessons we're working on at the Bug BBQ. Start by checking out the <strong>issues</strong> for the lesson you're
    interested in to see what still needs doing, and also have a look at the <strong>Etherpad</strong> to chat with the Maintainers and
    other collaborators, ask questions, and find out what's happening.
    
    <p>Join in the global conversation on <strong><a href='http://pad.software-carpentry.org/bug-bbq'>this etherpad</a>.</p>
        
<div class='center-block'>
    <table style='margin:0em auto 2em auto'>
    <tr class='header'>
        <td>Priority Lessons</td>
        <td>Issues</td>
        <td>Etherpad</td>
        <td>Status</td>
    </tr>
    <tr>
        <td><a href='http://github.com/datacarpentry/spreadsheets-socialsci'>Spreadsheets for Social Sciences</a></td>
        <td><a href='http://github.com/datacarpentry/spreadsheets-socialsci/issues'>Issues</a></td>
        <td><a href='http://pad.software-carpentry.org/bug-bbq-spreadsheets-socialsci'>Etherpad</a></td>
        <td></td>
    </tr>
    <tr>
        <td><a href='http://github.com/datacarpentry/openrefine-socialsci'>OpenRefine for Social Sciences</a></td>
        <td><a href='http://github.com/datacarpentry/openrefine-socialsci/issues'>Issues</a></td>
        <td><a href='http://pad.software-carpentry.org/bug-bbq-openrefine-socialsci'>Etherpad</a></td>
        <td></td>
    </tr>
    <tr>
        <td><a href='http://github.com/datacarpentry/r-socialsci'>R for Social Sciences</a></td>
        <td><a href='http://github.com/datacarpentry/r-socialsci/issues'>Issues</a></td>
        <td><a href='http://pad.software-carpentry.org/bug-bbq-r-socialsci'>Etherpad</a></td>
        <td></td>
    </tr>
    <tr>
        <td><a href='http://github.com/datacarpentry/python-socialsci'>Python for Social Sciences</a></td>
        <td><a href='http://github.com/datacarpentry/python-socialsci/issues'>Issues</a></td>
        <td><a href='http://pad.software-carpentry.org/bug-bbq-python-socialsci'>Etherpad</a></td>
        <td></td>
    </tr>
    <tr>
        <td><a href='http://github.com/datacarpentry/sql-socialsci'>SQL for Social Sciences</a></td>
        <td><a href='http://github.com/datacarpentry/sql-socialsci/issues'>Issues</a></td>
        <td><a href='http://pad.software-carpentry.org/bug-bbq-sql-socialsci'>Etherpad</a></td>
        <td></td>
    </tr>
    <tr>
        <td><a href='http://github.com/datacarpentry/spreadsheets-socialsci'>Spreadsheets for Social Sciences</a></td>
        <td><a href='http://github.com/datacarpentry/spreadsheets-socialsci/issues'>Issues</a></td>
        <td><a href='http://pad.software-carpentry.org/bug-bbq-spreadsheets-socialsci'>Etherpad</a></td>
        <td></td>
    </tr>
    <tr>
        <td><a href='https://github.com/datacarpentry/R-spatial-raster-vector-lesson'>Intro to Geospatial Data with R</a></td>
        <td><a href='http://github.com/datacarpentry/R-spatial-raster-vector-lesson/issues'>Issues</a></td>
        <td><a href='http://pad.software-carpentry.org/bug-bbq-r-spatial-raster'>Etherpad</a></td>
        <td></td>
    </tr>
    <tr>
        <td><a href='http://github.com/datacarpentry/r-spatial-data-management-intro/'>Intro to Geospatial Data</a></td>
        <td><a href='https://github.com/datacarpentry/r-spatial-data-management-intro/issues'>Issues</a></td>
        <td><a href='http://pad.software-carpentry.org/bug-bbq-r-spatial-data-management'>Etherpad</a></td>
        <td></td>
    </tr>
    </table>
    </div>
        
        
<div class='center-block'>
    <table style='margin:0em auto 2em auto'>
    <tr class='header'>
        <td>Other Lessons</td>
        <td>Issues</td>
        <td>Etherpad</td>
        <td>Status</td>
    </tr>
    <tr>
        <td><a href='https://github.com/swcarpentry/shell-novice'>The Unix Shell</a></td>
        <td><a href='https://github.com/swcarpentry/shell-novice/issues'>Issues</a></td>
        <td><a href='http://pad.software-carpentry.org/bug-bbq-shell'>Etherpad</a></td>
        <td></td>
    </tr>
    <tr>
        <td><a href='https://github.com/swcarpentry/git-novice'>Version Control with Git</a></td>
        <td><a href='https://github.com/swcarpentry/git-novice/issues'>Issues</a></td>
        <td><a href='http://pad.software-carpentry.org/bug-bbq-git'>Etherpad</a></td>
        <td></td>
    </tr>
    <tr>
        <td><a href='https://github.com/swcarpentry/hg-novice'>Version Control with Mercurial</a></td>
        <td><a href='https://github.com/swcarpentry/hg-novice/issues'>Issues</a></td>
        <td><a href='http://pad.software-carpentry.org/bug-bbq-mercurial'>Etherpad</a></td>
        <td></td>
    </tr>
    <tr>
        <td><a href='https://github.com/swcarpentry/sql-novice-survey'>Using Databases and SQL</a></td>
        <td><a href='https://github.com/swcarpentry/sql-novice-survey/issues'>Issues</a></td>
        <td><a href='http://pad.software-carpentry.org/bug-bbq-sql'>Etherpad</a></td>
        <td></td>
    </tr>
    <tr>
        <td><a href='https://github.com/swcarpentry/python-novice-inflammation'>Programming with Python</a></td>
        <td><a href='https://github.com/swcarpentry/python-novice-inflammation/issues'>Issues</a></td>
        <td><a href='http://pad.software-carpentry.org/bug-bbq-python'>Etherpad</a></td>
        <td></td>
    </tr>
    <tr>
        <td><a href='https://github.com/swcarpentry/r-novice-inflammation'>Programming with R</a></td>
        <td><a href='https://github.com/swcarpentry/r-novice-inflammation/issues'>Issues</a></td>
        <td><a href='http://pad.software-carpentry.org/bug-bbq-r-inflammation'>Etherpad</a></td>
        <td></td>
    </tr>
    <tr>
        <td><a href='https://github.com/swcarpentry/r-novice-gapminder'>R for Reproducible Scientific Analysis</a></td>
        <td><a href='https://github.com/swcarpentry/r-novice-gapminder/issues'>Issues</a></td>
        <td><a href='http://pad.software-carpentry.org/bug-bbq-r-gapminder'>Etherpad</a></td>
        <td></td>
    </tr>
    <tr>
        <td><a href='https://github.com/swcarpentry/matlab-novice-inflammation'>Programming with MATLAB</a></td>
        <td><a href='https://github.com/swcarpentry/matlab-novice-inflammation/issues'>Issues</a></td>
        <td><a href='http://pad.software-carpentry.org/bug-bbq-matlab'>Etherpad</a></td>
        <td></td>
    </tr>
    <tr>
        <td><a href='https://github.com/swcarpentry/make-novice'>Automation and Make</a></td>
        <td><a href='https://github.com/swcarpentry/make-novice/issues'>Issues</a></td>
        <td><a href='http://pad.software-carpentry.org/bug-bbq-make'>Etherpad</a></td>
        <td></td>
    </tr>
    <tr>
        <td><a href='https://github.com/swcarpentry/instructor-training'>Instructor Training</a></td>
        <td><a href='https://github.com/swcarpentry/instructor-training/issues'>Issues</a></td>
        <td><a href='http://pad.software-carpentry.org/bug-bbq-instructor-training'>Etherpad</a></td>
        <td></td>
    </tr>
        </table>
        </div>
        
        </div>
        